<%- include("partials/header")%>

<link rel="stylesheet" type="text/css" href="authent.css">
<title>Login</title>
</head>
<body>
<div class="container"> <!-- opening page div -->
      <h2><img src="images/logo.png"> Linktree</h2>
      <h3>
Log in to continue to your Linktree admin</h3>
      <div class="form-container"> <!-- opening form-container div -->
        <form>
        <input type="text" name="username"placeholder="Username"><br>
        <input type="password" name="password"placeholder="Password"><br>
        <button type="submit"class="btn btn-primary btn-block">Register</button>
      </form>
      <p class="disclaimer">Forgot your password? Click to reset</p>
      
      </div> <!-- closing form-container div -->
      
      <p>Already have an account?</p>

    </div> <!-- closing page div -->
   
    <%- include("partials/footer")%> 