<%- include("partials/header")%>

<link rel="stylesheet" type="text/css" href="authent.css">
<title>Login</title>
</head>
<body>
<div class="container"> <!-- opening page div -->
      <h2><a href="/"><img src="images/logo.png"></a> OneLink</h2>
      <h3>
Log in to continue to your OneLink admin</h3>
      <div class="form-container"> <!-- opening form-container div -->
        <form action="/login"method="POST">
        <input type="text" name="username"placeholder="Username"><br>
        <input type="password" name="password"placeholder="Password"><br>
        <button type="submit"class="btn btn-primary btn-block">Login</button>
      </form>
      
      </div> <!-- closing form-container div -->
      
      <a href="/register"class="accountproblem">Don't have an account?</a>

    </div> <!-- closing page div -->
   
    <%- include("partials/footer")%> 